<!-- <footer class="font-sans bg-[#213343] py-8 px-10 absolute bottom-0 w-full ">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    <div>
      <h4 class="text-[#FFA726] font-bold text-lg mb-5">Quick Links</h4>
      <ul class="space-y-4">
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Our Story</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Newsroom</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Careers</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Blog</a>
        </li>
      </ul>
    </div>
    <div>
      <h4 class="text-[#FFA726] font-bold text-lg mb-5">Services</h4>
      <ul class="space-y-4">
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Web Development</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Testing Automation</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">AWS Development Services</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Mobile App Development</a>
        </li>
      </ul>
    </div>
    <div>
      <h4 class="text-[#FFA726] font-bold text-lg mb-5">Platforms</h4>
      <ul class="space-y-4">
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Hubspot</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Marketo Integration Services</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Marketing Glossary</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">UIPath</a>
        </li>
      </ul>
    </div>
    <div>
      <h4 class="text-[#FFA726] font-bold text-lg mb-5">Company</h4>
      <ul class="space-y-4">
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Accessibility</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">About</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Contact</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="hover:text-[#FFA726] text-gray-300 text-[15px] font-semibold transition-all">Learn more</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="border-t text-center border-[#6b5f5f] pt-8 mt-8">
    <p class="text-gray-300 text-[15px] font-semibold">
      Copyright © 2023
      <a href="https://readymadeui.com/" target="_blank" class="hover:underline mx-1">ReadymadeUI</a>
      All Rights Reserved.
    </p>
  </div>
</footer> -->
